{% extends 'mart/base.html' %}
{% load static %}  

{% block title %}
   Your Shopping Cart
{% endblock %}
  
{%block content %}
  
<!-- Navigation -->
    <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="index.html" class="logo"><h1>Ritzy Fashion</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="{% url 'mart:ritzy-home' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'product:product_list' %}" class="nav-link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="#terms" class="nav-link">Terms</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          <a href="login.html" class="icon">
            <i class="bx bx-user"></i>
          </a>
          <div class="icon">
            <i class="bx bx-search"></i>
          </div>
          <div class="icon">
            <i class="bx bx-heart"></i>
            <span class="d-flex">0</span>
          </div>
          <a href="cart.html" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>

  
  <!-- Cart Items -->
    <div class="container cart">
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>

        {% for item in cart %}
                {% with product=item.product %}
        <tr>
          <td>
            <div class="cart-info">
              <img src="{{ product.image.url }}" alt="" />
              <div>
                <p>{{ product.name }}</p>
                <span>Price: &#8358; {{ product.price }}</span> <br />
               <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    <input type="submit" value="Remove">
                    {% csrf_token %}
                </form>
              </div>
            </div>
          </td>
          <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
           </td>
          <td>{{ item.total_price }}</td>
        </tr>
                {% endwith %}
        {% endfor %}


      </table>
      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>&#8358; {{ cart.get_total_price }}</td>
          </tr>
          <tr>
            <td>VAT</td>
            <td>&#8358;</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>&#8358; </td>
          </tr>
        </table>
        <a href="{% url 'products:order_create' %}" class="checkout btn">Proceed To Checkout</a>
      </div>

       <div class="col-md-6 text-center">
            <a href="{% url 'products:product_list' %}" class="checkout btn">Continue Shopping</a>
        </div>
    </div>

    <!-- Latest Products -->
    <section class="section featured">
      <div class="top container">
        <h1>Latest Products</h1>
        <a href="{% url 'products:product_list' %}" class="view-more">View more</a>
      </div>
      <div class="product-center container">
           {% for product in latest_products %}
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="{{ product.image.url }}" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>MEN'S CLOTHES</span>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <h4>₦ {{ product.price }}</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
            {% endfor %}
      </div>
    </section>
{% endblock content %}

{% block js %}
  
    <!-- Custom Script -->
    <script src="{%static 'mart/js/index.js' %}"></script>

{% endblock js %}