{% extends 'mart/base.html' %} {% block title %} Checkout {% endblock %} 
{% load static %}

{% block content %}

<!-- Navigation -->
    <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="index.html" class="logo"><h1>Ritzy Fashion</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="{% url 'mart:ritzy-home' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'product:product_list' %}" class="nav-link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="#terms" class="nav-link">Terms</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          <a href="login.html" class="icon">
            <i class="bx bx-user"></i>
          </a>
          <div class="icon">
            <i class="bx bx-search"></i>
          </div>
          <div class="icon">
            <i class="bx bx-heart"></i>
            <span class="d-flex">0</span>
          </div>
          <a href="cart.html" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>


    <!-- Login -->
    <div class="container">
      <div class="login-form">
          <h1>Please fill the form to Checkout</h1>
          <hr>
          <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <h1>Your order</h1>
            <ul>
                {% for item in cart %}
                <li>
                {{ item.quantity }}x {{ item.product.name }}
                <span>&#8358;{{ item.total_price }}</span>
                </li>
                {% endfor %}
            </ul>
          <p>
            Total: &#8358;{{ cart.get_total_price }}
          </p>

          <label for="first_name">Frist Name</label>
          <input type="text" placeholder="First Name" name="first_name" required />

          <label for="last_name">Last Name</label>
          <input type="text" placeholder="Last Name" name="last_name" required />

          <label for="email">Email</label>
          <input type="email" placeholder="Email" name="email" required />

          <label for="address">Address</label>
          <input type="text" placeholder="Address" name="address" required />

          <label for="phone_number">Phone Number</label>
          <input type="tel" placeholder="Phone Number" name="phone_number" required />

          <label for="city">City</label>
          <input type="text" placeholder="City" name="city" required />

          <div class="buttons">
            <button type="submit" value="Place order" class="signupbtn">Place order</button>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  <script src="{%static 'mart/js/slider.js'%}"></script>
  <script src="{%static 'mart/js/index.js' %}"></script>
{% endblock js %}

